<h2>Share Notes</h2>
<form action="" [formGroup]="form" (ngSubmit)="form.valid && share()">
  <mat-form-field>
    <input type="email" name="email" placeholder="Email" autocomplete="off" required formControlName="email" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Access Type" formControlName="accessType">
      <mat-option value="read">Read Only</mat-option>
      <mat-option value="write">Editable</mat-option>
    </mat-select>
  </mat-form-field>
  <button class="share-btn" mat-raised-button color="primary">Share</button>
</form>
<h4>Following notes will be shared</h4>
<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let note of data.notes">{{note.title}}</mat-list-item>
</mat-list>
