h4 { margin-bottom: 0 }

.share-btn { margin-left: 1rem; }
.mat-form-field { width: 80%; }

.mat-list-item {
  border: 1px solid #d5d5d5;
  border-radius: 0.25rem;
}

.mat-list-item:not(:first-child) {
  margin-top: 0.75rem;
}

@media (max-width: 600px) {
  .mat-form-field { width: 100%; }
  .share-btn { margin-left: 0; }
}
