<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
  <h1 class="app-title-name"><i class="material-icons menu-icon">file_copy</i>MyNotes </h1>
  <span fxFlex></span>
  <i class="material-icons" [matMenuTriggerFor]="accountMenu" *ngIf="username">search</i>
  <mat-form-field class="search-full-width search-form-field" *ngIf="username">
    <input matInput placeholder="Search note" [(ngModel)]="searchText" (keyup)="search()" />
    <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <div class="header-actions" *ngIf="username">
    <i class="material-icons" [matMenuTriggerFor]="accountMenu">person</i>
    <!-- <i *ngIf="isNoteView" class="material-icons switchToListView" (click)="switchToListView()">view_list</i>
    <i *ngIf="!isNoteView" class="material-icons switchToNoteView" (click)="switchToNoteView()">view_quilt</i> -->
    <h6 class="username title">{{username}}</h6>
  </div>

</mat-toolbar>

<mat-menu #accountMenu="matMenu">
  <!-- <span mat-menu-item>About Keep</span> -->
  <!-- <span mat-menu-item><i class="material-icons menu-icon">help</i>Get Help</span> -->
  <button class="logout" mat-menu-item (click)="logout()"><i class="material-icons menu-icon">exit_to_app</i>Logout</button>
</mat-menu>