.header-actions {
  flex: auto;
  direction: rtl;
}

.header-actions i {
  margin: 0 0.5rem;
  cursor: pointer;
}

.logout {
  color: red;
}

.menu-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.username {
  display: inline;
  vertical-align: text-bottom;
  font-size: .8em;
}

.search-form-field{
  font-size: .8em;
}

.search-full-width {
  width: 70%;
}

.app-title-name {
  color: #ffc400;
  font-size: 1.2em;
}
