<form class="register" autocomplete="off" [formGroup]="form" (ngSubmit)="form.valid && registerSubmit()">
  <mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input type="text" placeholder="username" name="username" class="username" required autofocus #username="matInput" matInput formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <input type="email" placeholder="Email" name="email" class="email" required email matInput formControlName="email" >
      </mat-form-field>
      <mat-form-field>
        <input type="password" placeholder="Password" name="password" class="password" required matInput formControlName="password" >
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Register</button>
      <span class="or">or</span>
      <button type="button" mat-button color="primary" (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</form>
