.icon-blue {
    color: blue;
}
.time {
  text-transform: uppercase;
}

.timer {
  position: relative;
  left: -2rem;
  top: 0.3rem;
  font-size: 1rem;
  color: #757575;
}

.mat-form-field {
  width: 15%;
  min-width: 15rem;
  margin: 0 1rem;
}
.mat-input-element{
  width: unset;
}

@media (max-width: 655px) {
  .timer {
    float: right;
    left: -2rem;
    top: -2.4rem;
  }
}

@media (max-width: 600px) {
  .mat-form-field {
    margin: 0;
    width: 100%;
  }

  .timer {
    left: 0;
  }
}
