<div >
  <!-- <i _ngcontent-c1="" class="material-icons menu-icon icon-blue" [owlDateTimeTrigger]="dt1">add_alert</i>
   <input type="text" name="reminder" formControlName="reminder" [owlDateTime]="dt1" placeholder="Reminder" (dateChange)="onDateChange($event)" matInput>
  <owl-date-time #dt1></owl-date-time> -->


  
  <!-- <mat-form-field>
      <input type="text" name="date" #dateInput readonly matInput
      [min]="minDate" formControlName="date"
      [matDatepicker]="datepicker"
      (dateChange)="onDateChange($event)"
      (focus)="datepicker.open()">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker (closed)="onDatePickerClose()"></mat-datepicker> 
   </mat-form-field>
  <mat-form-field class="action-field">
      <input type="text" name="time" class="time" readonly matInput
      formControlName="time" [ngxTimepicker]="timepicker">
      <ngx-material-timepicker #timepicker
        (timeSet)="onTimeChange($event)"></ngx-material-timepicker>
  </mat-form-field> 
  <i class="material-icons timer">timer</i>-->
</div>
