<div class="keep-c-list-container">
  <label>Not-Started</label>
  <app-note *ngFor="let note of notStartedNotes" [note]="note"></app-note>
</div>
<div class="keep-c-list-container">
  <label>Started</label>
  <app-note *ngFor="let note of startedNotes" [note]="note"></app-note>
</div>
<div class="keep-c-list-container">
  <label>Completed</label>
  <app-note *ngFor="let note of completedNotes" [note]="note"></app-note>
</div>
