<div *ngIf="note">
  <mat-form-field> 
    <input [(ngModel)]="note.title" type="text" name="editTitle" matInput placeholder="Title" type="text">
  </mat-form-field>
  <mat-form-field>
    <textarea [(ngModel)]="note.text" name="editText" matInput placeholder="Text"></textarea>
  </mat-form-field>
  <mat-form-field>
      <input [(ngModel)]="note.group" type="text" name="group" placeholder="Group"  matInput>
  </mat-form-field>
  <label class="reminder-label">Reminder</label>
  <mat-form-field>
    <i _ngcontent-c1="" class="material-icons menu-icon icon-blue" [owlDateTimeTrigger]="dt1" >add_alert</i>
    <input [(ngModel)]="note.reminder" [owlDateTime]="dt1" type="text" name="reminder" (dateChange)="onDateChange($event)" placeholder="Reminder" matInput >
    <owl-date-time #dt1 ></owl-date-time>
    <!-- <app-datetime-input [input]="reminder" (change)="onDateTimeChange($event)"></app-datetime-input> -->
    
  </mat-form-field>
  <!-- <app-datetime-input [input]="note.reminder" (change)="onDateTimeChange($event)"></app-datetime-input> -->
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <button mat-raised-button color="warn" (click)="delete()">Delete</button>
  </div>
</div>
