.reminder-snack-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  line-height: 20px;
  opacity: 1;

}

.contents .title {
  font-weight: bold;
}

.actions {
  display: flex;
}
