<div class="reminder-snack-bar">
  <div class="contents">
      <div class="title">{{data.title}}</div>
      <span class="message">{{data.text}}</span>
  </div>
  <div class="mat-simple-snackbar-action actions">
    <button *ngIf="data.snooze" mat-button (click)="snooze()">SNOOZE</button>
    <button mat-button (click)="dismiss()">DISMISS</button>
  </div>    
</div>
