<form class="login" autocomplete="off" (ngSubmit)="loginSubmit()">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input type="text" placeholder="Username" name="username" class="username" autofocus #usernameInput="matInput" matInput [formControl]="username" required>
      </mat-form-field>
      <mat-form-field>
        <input type="password" placeholder="Password" name="password" class="password" matInput [formControl]="password" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <span class="or">or</span>
      <button type="button" mat-button color="primary" (click)="register()">Register</button>
    </mat-card-actions>
  </mat-card>
</form>
