form.login {
  margin: 1rem auto;
  margin-top: 5rem;
  max-width: 400px;
}

.login mat-card {
  display: flex;
  flex-direction: column;
}

.login mat-form-field {
  width: 100%;
}

.or {
  margin-left: 1.5rem;
}
