<div class="keep-c-note-container">
  <div class="header-actions">
    <!-- <div class="action-group search">
      <mat-form-field class="search-field">
        <input type="text" name="search" autocomplete="off" placeholder="Search" matInput [(ngModel)]="searchText">
      </mat-form-field>
      <button mat-mini-fab color="primary" (click)="search()"><i class="material-icons">search</i></button>
    </div> -->
    <div class="action-group-right">
       
      <!-- <div class="action-group group-field">
       
        <button class="group" mat-stroked-button color="primary" (click)="addGroup()"><i class="material-icons">library_add</i>Add to Group</button>
      </div> -->
      <!-- <button class="favourite" mat-stroked-button color="gold" (click)="markFavourite()"><i class="material-icons" style="color:gold">star</i>Mark as favourite</button>
      <button class="delete" mat-stroked-button color="warn" (click)="delete()"><i class="material-icons">delete</i>Delete</button>
      <button class="" mat-stroked-button (click)="share()"><i class="material-icons">share</i>Share</button> -->

      <div class="example-button-row">
          <!-- <mat-form-field class="group-field">
              <input type="text" name="group" maxlength="20" autocomplete="off" placeholder="Group name" matInput [(ngModel)]="groupName">
            </mat-form-field> -->
            <mat-form-field>
                <mat-select placeholder="Filter by Group" (selectionChange) = "filterbyGroup($event)">
                  <mat-option *ngFor="let group of groups" [value]="group">
                    {{group}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-icon-button (click)="filterbyGroup()">
                  <mat-icon aria-label="Restore Notes" matTooltip="Reset">settings_backup_restore</mat-icon>
              </button>
               
          <button mat-raised-button color="" (click)="addToGroup()"><i class="material-icons">note_add</i> Add to Group</button>
          <button mat-raised-button color="" (click)="addToFavourite()"><i class="material-icons" style="">star</i> Add to favourite</button>
          <button mat-raised-button color="" (click)="share()"><i class="material-icons">share</i> Share</button>
          <button mat-raised-button color="warn" (click)="delete()"><i class="material-icons">delete</i>Delete</button>
      </div>
    </div>
  </div>
  <mat-grid-list cols="4" rowHeight="180">
      <mat-grid-tile *ngFor="let note of notes">
        <app-note  [note]="note"></app-note>
      </mat-grid-tile>
  </mat-grid-list>

  <!-- <app-note *ngFor="let note of notes" [note]="note"></app-note> -->
</div>
