h1 {
  margin: 0 1rem;
}

.share {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

.action-group {
  margin-left: 1rem;
}

.action-group-right {
  background-color: #ede7f6;
  margin-right: 1rem;
}

.action-group i {
  font-size: 20px;
}

.favourite {
  margin: 0 1rem;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.action-group .group {
  margin-left: 0.5rem;
}

.search-field,
.group-field {
  font-size: 1rem;
}

.search-field input,
.group-field input {
  width: 95%;
}

h1,
.header-actions,
.action-group {
  display: inline;
}

.header-actions {
  margin-bottom: 50px;
}

@media (max-width: 1005px) {

  h1,
  .header-actions,
  .action-group {
    display: block;
  }

  .action-group-right {
    float: none;
  }

  .mat-form-field.group-field {
    width: 75%;
  }

  .mat-form-field.search-field {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .mat-form-field.group-field {
    width: 70%;
  }
}

@media (max-width: 506px) {
  .mat-form-field.group-field {
    width: 65%;
  }

  .mat-form-field.search-field {
    width: 80%;
  }
}

@media (max-width: 460px) {
  .mat-form-field.group-field {
    width: 85%;
  }

  button.group,
  button.favourite,
  button.delete {
    width: 95%;
    margin: 0.5rem 1rem;
  }
}