/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
 body {
   margin: 0;
   background-color: #f8f8f8;
   font-family: Roboto,"Helvetica Neue",sans-serif;
 }
