.mat-expansion-panel {
  width: 60%;
  margin: 1rem auto;
}

.mat-form-field {
  width: 100%;
}

.done {
  height: 2rem;
  top: 0.5rem;
  line-height: 1rem;
}

.mat-expansion-panel-header-title {
  font-size: 24px;
  font-weight: 500;
  color: #3f51b5;
}

.reminder-label {
  line-height: 3rem;
}

.mat-action-row {
  padding-bottom: 0;
  justify-content: space-between;
  padding: 15px 8px 16px 15px;
}

@media (max-width: 600px) {
  .mat-expansion-panel {
    width: unset;
    margin: 1rem;
  }

  .mat-action-row {
    display: block;
    padding: 0;
  }
}
