<label class="error-message">{{ errMessage }}</label>
<mat-expansion-panel> <!-- expanded="true" -->
  <mat-expansion-panel-header>
    <mat-panel-title>Take a note</mat-panel-title>
  </mat-expansion-panel-header>
  <form autocomplete="off" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="form.valid && addNote(formDirective)">
    <mat-form-field>
      <input type="text" name="title" placeholder="Title" required formControlName="title" matInput>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput
            name="text"
            placeholder="Enter your notes..."
            formControlName="text"
            cdkTextareaAutosize
            required
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10"></textarea>
            <!-- <textarea name="text" placeholder="Text" name="text" required formControlName="text" matInput></textarea> -->
    </mat-form-field>
    <mat-form-field>
      <input type="text" name="group" placeholder="Group"  formControlName="group" matInput>
    </mat-form-field>
    <mat-action-row>
      <mat-form-field>
        <i _ngcontent-c1="" class="material-icons menu-icon icon-blue" [owlDateTimeTrigger]="dt1">add_alert</i>
        <input type="text" name="reminder" formControlName="reminder" [owlDateTime]="dt1" placeholder="Reminder" (dateChange)="onDateChange($event)" matInput>
        <owl-date-time #dt1></owl-date-time>
        <!-- <app-datetime-input [input]="reminder" (change)="onDateTimeChange($event)"></app-datetime-input> -->
        <button class="done" mat-raised-button color="primary">Save Note</button>
      </mat-form-field>
    </mat-action-row>
  </form>
</mat-expansion-panel>
