<mat-card class="float-card" [ngClass]="{'sharedNote': isShared}">
  <mat-card-header>
    <!-- <button class="group" mat-raised-button disabled *ngIf="note.group">{{note.group}}</button> -->
    <mat-chip-list *ngIf="note.group">
      <mat-chip>{{note.group}} <mat-icon *ngIf="editable" matChipRemove (removed)="removeGroup(note)" (click)="removeGroup(note)">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <mat-card-title>
      <a *ngIf="editable" href="" (click)="!!editNote()">{{note.title}}</a>
      <span *ngIf="!editable">{{note.title}}</span>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    {{ (note.text.length > 25) ? (note.text | slice:0:25)+'...' : (note.text) }}
    <p>
      <span class="reminderChip" matBadgeOverlap="true" *ngIf="note.reminder">
        <mat-icon [inline]="true" matBadgeColor="warn">access_time</mat-icon>{{note.reminder.toDateString()}}
      </span>
    </p>
    <!-- <mat-chip *ngIf="note.reminder" ><mat-icon matChipRemove>schedule</mat-icon>{{note.reminder.toDateString()}} 
    </mat-chip> -->
  </mat-card-content>

  <mat-card-actions>
    <mat-checkbox color="primary" [(ngModel)]="note.selected" *ngIf="showCheckbox"></mat-checkbox>
    <button mat-button><i class="material-icons" *ngIf="!isShared">share</i></button>
    <button mat-button><i class="material-icons">delete</i></button>
    <i class="material-icons star" *ngIf="note.favourite">star</i>
  </mat-card-actions>
</mat-card>