.note { margin: 1rem; }

.float-card {
  min-width: 300px;
  max-width: 0px;
    
}
.mat-card-content{
  text-overflow: ellipsis;
}

.note h4 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.note:first-child {
  margin-top: 2rem;
}

/* .mat-checkbox {
  float: right;
  position: relative;
  bottom: 1rem;
} */

.star {
  float: right;
  bottom: 0.5rem;
  color: gold; /* or gold or #ff4081 */
}
.sharedNote{
  background-color: steelblue;
}
.reminderChip{
  font-size: 12px;
  color: #ff5454;
  
   
}
.mat-standard-chip.mat-chip-with-trailing-icon{
  padding: 7px;
}
.mat-standard-chip .mat-chip-trailing-icon{
  margin-left: 0;
}
button.mat-raised-button.group {
  line-height: 1.5rem;
  margin-left: 1rem;
  background-color: #ccd5ff;
  color: #3d54ba;
}
